.layout-container {
  min-height: 100vh;
  display: flex;
}

.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.layout-main-full {
  padding: 0;
}