/* Header */
.header-component {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem 1rem 0;
  min-height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.header-component-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0 20px;
}

/* SideMenu button */
.header-side-menu-toggle-container {

}
.menu-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 26px;
  color: #2d3748;
  margin: 0 0 0 20px;
  padding: 0 10px 5px 10px;
}

.menu-toggle-button:hover {
  background-color: #cbcbcb54;
  border-radius: 6px;
}

/* Avatar */
.avatar-wrapper {
  position: relative;
  margin-left: auto;
}

.avatar-button {
  cursor: pointer;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.avatar-img,
.avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: #e2e8f0;
  color: #4a5568;
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.5rem;
  width: 10rem;
  background-color: #ffffff;
  border: 1px solid #cbd5e0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f5f9;
}